Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.11.4
awscli==1.10.12
boto==2.39.0
botocore==1.4.3
colorama==0.3.3
docutils==0.12
ebcli==4.0.14
futures==3.0.5
itsdangerous==0.24
jmespath==0.9.0
keyring==8.5.1
keyrings.alt==1.1.1
pyasn1==0.1.9
python-dateutil==2.5.0
requests==2.9.1
rsa==3.3
s3transfer==0.0.1
six==1.10.0
wsgiref==0.1.2
