<!DOCTYPE HTML>
<html lang="kr"> 
	<head>
		<title>36Q Intranet</title>
		<meta name="viewport" content="user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel='icon' href='/static/icons/favicon.ico' type='image/x-icon'/ >
		<link rel="apple-touch-icon" href="/static/icons/60.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/76.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/120.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/152.png" />
		<link rel="shortcut icon" sizes="152x152" href="/static/icons/152.png">
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/js/fastclick.js"></script>
		<script>$name = '{{ context.name }}'; $uid = '{{ context.uid }}'; $initstatus = '{{ context.status }}'; $totalsec = {{ context.totalsec }}; $totalsecmonth = {{ context.totalsecmonth }}; $last = new Date({{ context.lastlog }}); $hwage = {{ context.hwage }}; $pw = {{ context.pw }};</script>
		<script type="text/javascript" src="/static/js/scripts.js?v=10"></script>
		<link rel="stylesheet" href="/static/css/style.css?v=4" />
	</head>
	<body class="{{ context.status }}">
		<div class="btnstat"><img src="/static/stat.png" /></div>
		<div class="btncoin"><img src="/static/coin.png" /></div>
		<div class="btnreceipt"><img src="/static/receipt.png" /></div>
		<div class="statusplaceholder"></div>
		<div class="notif"></div>
		<div class="password no-select">
			<div class="caption" data-original-caption="안녕하세요 {{ context.name }}님!">안녕하세요 {{ context.name }}님!</div>
			<div class="dots">
				<div class="dot dot1"></div>
				<div class="dot dot2"></div>
				<div class="dot dot3"></div>
				<div class="dot dot4"></div>
			</div>
			<div class="keypad free">
				<div class="row clearfix">
					<div class="btn btn-num" data-num="1">1</div>
					<div class="btn btn-num" data-num="2">2</div>
					<div class="btn btn-num" data-num="3">3</div>
				</div>
				<div class="row clearfix">
					<div class="btn btn-num" data-num="4">4</div>
					<div class="btn btn-num" data-num="5">5</div>
					<div class="btn btn-num" data-num="6">6</div>
				</div>
				<div class="row clearfix">
					<div class="btn btn-num" data-num="7">7</div>
					<div class="btn btn-num" data-num="8">8</div>
					<div class="btn btn-num" data-num="9">9</div>
				</div>
				<div class="row clearfix row4">
					<div class="btn btn-num" data-num="0">0</div>
					<div class="btn btn-cancel">&#x232B;</div>
				</div>
			</div>
		</div>
		<div class="logo-placeholder"></div>
		<div class="logo">
			<img src="/static/logo-inv.png" />
		</div>
		<div class="data">
			<div class="timer"></div>
			<div class="moneytoday clearfix">
				<div class="floatL">오늘 번 돈</div>
				<div class="floatR"></div>
			</div>
			<div class="moneymonth clearfix">
				<div class="floatL">월급</div>
				<div class="floatR"></div>
			</div>
		</div>
		<div class="logtime disabled">GPS 탐색중...</div>
		<div class="stat disp-none">
			<div class="background"></div>
			<div class="dataarea"></div>
		</div>
		<div class="inputpop disp-none">
			<div class="background"></div>
			<div class="dataarea">
				<div class="message">외근 사유를 적어주세요</div>
				<input type="text" />
				<div class="clearfix">
					<div class="cancel floatL">취소</div>
					<div class="okay floatR">확인</div>
				</div>
			</div>
		</div>
		<div class="expensepop disp-none">
			<div class="background"></div>
			<div class="dataarea">
				<div class="message">용도와 금액을 적어주세요</div>
				<input type="text" placeholder="용도" />
				<input type="number" />
				<div class="clearfix">
					<div class="cancel floatL">취소</div>
					<div class="okay floatR">확인</div>
				</div>
			</div>
		</div>
	</body>
</html>