<!DOCTYPE HTML>
<html lang="kr"> 
	<head>
		<title>AFC</title>
		<meta chatset="UTF-8" />
		<meta name="viewport" content="user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel='icon' href='/static/afc/assets/favicon.png' type='image/x-icon' />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/afc/assets/icon_152.png" />
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/js/fastclick.js"></script>
		<link rel="stylesheet" href="/static/afc/afc.css?v=4" />
		<script type="text/javascript" src="/static/afc/afc.js?v=3"></script>
	</head>
	<body>
		<section class="page dnone" id="login">
			<div class="bg"></div>
			<div class="upper">
				<article class="default dnone">
					<div class="top">
						<h2>AHYUN FURNITURE CAMPUS</h2>
						<h3>이제 당신의 쇼핑이 더 쉬워집니다</h3>
					</div>
					<img src="/static/afc/assets/start_txt.png" alt="" class="mid" />
					<div class="bot">
						<h3>AFC에서 쇼핑을 하며 더욱 쉽게<br />제품을 찾고 정보를 검색해보세요</h3>
						<button>시작하기</button>
					</div>
				</article>
				<article class="pop_login dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<div class="input_field">
							<input type="text" placeholder="E-mail" />
							<img src="/static/afc/assets/icon_mail_100x100.png" />
						</div>
						<div class="input_field">
							<input type="password" placeholder="Password" />
							<img src="/static/afc/assets/icon_key_100x100.png" />
						</div>
						<button class="login">LOGIN</button>
					</div>
					<div class="bot">
						<h3>아직도 회원이 아니라면<br />가입 후 더 놀라운 혜택을 누려보세요!</h3>
						<button class="signup">간단하게 회원가입</button>
					</div>
				</article>
				<article class="signup dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<button class="facebook"></button>
						<button class="kakao"></button>
						<button class="phone"></button>
					</div>
					<div class="bot">
						<h3>이미 가입하셨다면<br />로그인 해주세요!</h3>
						<button class="login">로그인</button>
					</div>
				</article>
				<article class="signup_phone dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<div class="input_field">
							<input type="text" placeholder="Phone Number" />
							<img src="/static/afc/assets/icon_phone_100x100.png" />
						</div>
						<button class="signup">가입</button>
					</div>
				</article>
			</div>
		</section>
		<section class="page dnone" id="main">
			<article class="main dnone">
				<div class="carousel">
					<div class="logo">
						<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
					</div>
					<section class="imagestream">
						<article class="image image1 selected">
							<div class="blackbg"></div>
							<div class="text">AFC의 디자이너<br />가구공방 클래스를<br />신청해 보세요</div>
						</article>
						<article class="image image2">
							<div class="blackbg"></div>
							<div class="text">인테리어 컨설팅부터<br />AFTER SERVICE까지<br />손쉽게 신청해 보세요</div>
						</article>
						<article class="image image3">
							<div class="blackbg"></div>
							<div class="text">가구만 있으면 된다?<br />이제는 AFC에서<br />인테리어 소품까지<br />준비해 보세요</div>
						</article>
						<article class="image image4">
							<div class="blackbg"></div>
							<div class="text">퍼니쳐 플리마켓을<br />이용해 보세요<br />셀러가 되어보는<br />재미까지 쏠쏠</div>
						</article>
						<article class="image image5">
							<div class="blackbg"></div>
							<div class="text">버리고 싶은 가구<br />새롭게 업사이클링<br />해보세요</div>
						</article>
						<article class="image image6">
							<div class="blackbg"></div>
							<div class="text">오늘 가져가기<br />서비스를<br />이용해보세요</div>
						</article>
					</section>
					<div class="btnleft"><img src="/static/afc/assets/icon_arrow_left_100x100.png" /></div>
					<div class="btnright"><img src="/static/afc/assets/icon_arrow_right_100x100.png" /></div>
					<ul class="dots">
						<li class="dot dot1 selected"></li><li class="dot dot2"></li><li class="dot dot3"></li><li class="dot dot4"></li><li class="dot dot5"></li><li class="dot dot6"></li>
					</ul>
				</div>
				<ul class="menu">
					<li class="menuitem menuitem1">
						<img src="/static/afc/assets/menu_1.png" />
						<div class="text">카탈로그</div>
					</li><li class="menuitem menuitem2">
						<img src="/static/afc/assets/menu_2.png" />
						<div class="text">제품스캔</div>
					</li><li class="menuitem menuitem3">
						<img src="/static/afc/assets/menu_3.png" />
						<div class="text">AFC프로젝트</div>
					</li><li class="menuitem menuitem4">
						<img src="/static/afc/assets/menu_4.png" />
						<div class="text">매장안내</div>
					</li>
				</ul>
				<div class="orderlist">
					<div class="peek">
						<img class="icon icon_orderlist" src="/static/afc/assets/icon_orderlist_100x100.png" alt="" class="icon" />
						<div class="text">주문내역 확인하기</div>
						<img class="icon icon_arrow" src="/static/afc/assets/icon_arrow_up_100x100.png" alt="" class="icon_up">
					</div>
				</div>
			</article>
		</section>
	</body>
</html>