<!DOCTYPE HTML>
<html lang="kr"> 
	<head>
		<title>AFC</title>
		<meta chatset="UTF-8" />
		<meta name="viewport" content="user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel='icon' href='/static/afc/assets/favicon.png' type='image/x-icon' />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/afc/assets/icon_152.png" />
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/js/fastclick.js"></script>
		<link rel="stylesheet" href="/static/afc/afc.css?v=4" />
		<script type="text/javascript" src="/static/afc/afc.js?v=3"></script>
	</head>
	<body>
		<section class="page dnone" id="login">
			<div class="bg"></div>
			<div class="upper">
				<article class="default dnone">
					<div class="top">
						<h2>AHYUN FURNITURE CAMPUS</h2>
						<h3>이제 당신의 쇼핑이 더 쉬워집니다</h3>
					</div>
					<img src="/static/afc/assets/start_txt.png" alt="" class="mid" />
					<div class="bot">
						<h3>AFC에서 쇼핑을 하며 더욱 쉽게<br />제품을 찾고 정보를 검색해보세요</h3>
						<button>시작하기</button>
					</div>
				</article>
				<article class="pop_login dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<div class="input_field">
							<input type="text" placeholder="E-mail" />
							<img src="/static/afc/assets/icon_mail_100x100.png" />
						</div>
						<div class="input_field">
							<input type="password" placeholder="Password" />
							<img src="/static/afc/assets/icon_key_100x100.png" />
						</div>
						<button class="login">LOGIN</button>
					</div>
					<div class="bot">
						<h3>아직도 회원이 아니라면<br />가입 후 더 놀라운 혜택을 누려보세요!</h3>
						<button class="signup">간단하게 회원가입</button>
					</div>
				</article>
				<article class="signup dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<button class="facebook"></button>
						<button class="kakao"></button>
						<button class="phone"></button>
					</div>
					<div class="bot">
						<h3>이미 가입하셨다면<br />로그인 해주세요!</h3>
						<button class="login">로그인</button>
					</div>
				</article>
				<article class="signup_phone dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<div class="input_field">
							<input type="text" placeholder="Phone Number" />
							<img src="/static/afc/assets/icon_phone_100x100.png" />
						</div>
						<button class="signup">가입</button>
					</div>
				</article>
			</div>
		</section>
		<section class="page dnone" id="main">
			<article class="main dnone">
				<div class="carousel">
					<div class="logo">
						<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
					</div>
					<section class="imagestream">
						<article class="image image1 selected">
							<div class="blackbg"></div>
							<div class="text">AFC의 디자이너<br />가구공방 클래스를<br />신청해 보세요</div>
						</article>
						<article class="image image2">
							<div class="blackbg"></div>
							<div class="text">인테리어 컨설팅부터<br />AFTER SERVICE까지<br />손쉽게 신청해 보세요</div>
						</article>
						<article class="image image3">
							<div class="blackbg"></div>
							<div class="text">가구만 있으면 된다?<br />이제는 AFC에서<br />인테리어 소품까지<br />준비해 보세요</div>
						</article>
						<article class="image image4">
							<div class="blackbg"></div>
							<div class="text">퍼니쳐 플리마켓을<br />이용해 보세요<br />셀러가 되어보는<br />재미까지 쏠쏠</div>
						</article>
						<article class="image image5">
							<div class="blackbg"></div>
							<div class="text">버리고 싶은 가구<br />새롭게 업사이클링<br />해보세요</div>
						</article>
						<article class="image image6">
							<div class="blackbg"></div>
							<div class="text">오늘 가져가기<br />서비스를<br />이용해보세요</div>
						</article>
					</section>
					<div class="btnleft"><img src="/static/afc/assets/icon_arrow_left_white_100x100.png" /></div>
					<div class="btnright"><img src="/static/afc/assets/icon_arrow_right_white_100x100.png" /></div>
					<ul class="dots">
						<li class="dot dot1 selected"></li><li class="dot dot2"></li><li class="dot dot3"></li><li class="dot dot4"></li><li class="dot dot5"></li><li class="dot dot6"></li>
					</ul>
				</div>
				<ul class="menu">
					<li class="menuitem menuitem1">
						<img src="/static/afc/assets/menu_1.png" />
						<div class="text">카탈로그</div>
					</li><li class="menuitem menuitem2">
						<img src="/static/afc/assets/menu_2.png" />
						<div class="text">제품스캔</div>
					</li><li class="menuitem menuitem3">
						<img src="/static/afc/assets/menu_3.png" />
						<div class="text">AFC프로젝트</div>
					</li><li class="menuitem menuitem4">
						<img src="/static/afc/assets/menu_4.png" />
						<div class="text">매장안내</div>
					</li>
				</ul>
				<div class="orderlist">
					<div class="peek">
						<img class="icon icon_orderlist" src="/static/afc/assets/icon_orderlist_100x100.png" alt="" class="icon" />
						<div class="text">주문내역 확인하기</div>
						<img class="icon icon_arrow" src="/static/afc/assets/icon_arrow_up_white_100x100.png" alt="" class="icon_up">
					</div>
				</div>
			</article>
			<article class="shop_list dnone">
				<header>
					<img src="/static/afc/assets/icon_arrow_left_mint_100x100.png" alt="" class="icon icon_arrow">
					<div class="text">매장 리스트</div>
				</header>
				<ul class="list">
					<li class="shop shop1" data-oneliner="합리적 실용주의 1인가구" data-latlng="37.558308,126.959379">
						<div class="dnone description">합리적 실용주의 1인가구 전문 소프시스<br />조립하는재미, 집꾸미는재미를 느끼게 해드립니다<br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>소프시스</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 신촌로37길 53</span>
							</div>
						</div>
					</li>
					<li class="shop shop2" data-oneliner="북유럽 감성의 디자인가구" data-latlng="37.558271,126.958387">
						<div class="dnone description">북유럽 감성의 따뜻함과 편안함을 느낄 수 있는 제품을 디자인하고 판매합니다.<br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>아르네 스튜디오</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 북아현</span>
							</div>
						</div>
					</li>
					<li class="shop shop3" data-oneliner="편안함을 가득담은 가구" data-latlng="37.558272,126.958602">
						<div class="dnone description">생활을 꿈꾸세요. 그리고 말해보세요<br />스타일k는 그 꿈을 만들어갑니다.<br />사람들은 집에 가구를 비롯한 여러 생활도구들을<br />채우며 살아갑니다. 특히 가구는 꼭 필요한 요소이지요<br />오늘날 혼재되어있는 여러가지 스타일과 다양해진 소재와 기능들<br />그리고 여러 가격대와 서비스등의 가구들은많지만 가구본질의 가치는 <br />당신의 삶이란걸스타일k는 잘 알고있습니다.<br />그래서 스타일k는 당신의 생활을 디자인하고 만들어내기 위해 항상 노력합니다.<br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>스타일K</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 북아현동 57-2</span>
							</div>
						</div>
					</li>
					<li class="shop shop4" data-oneliner="간소하면서도 감각적인 가구" data-latlng="37.558533,126.959040">
						<div class="dnone description">세상에서 가장 편안해야 하는 공간, 집! <br />숨가쁘게 살아가는 현대 사회에서 아늑하고 편안한 자신만의 공간을 꾸밀 수 있도록 아리아퍼니쳐가 돕겠습니다.<br />그 소중한 공간에 좀더 좋은 소재와, 편리한 기능 그리고 나를 배려하는 공간으로 꾸밀 수 있도록 선진주거문화를 선도하는 미국 유럽의 인테리어 가구 및 소품을 고객님께<br />제공하기 위해 노력하고 있습니다. <br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>아리아 퍼니처</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 신촌로37길 55-9</span>
							</div>
						</div>
					</li>
					<li class="shop shop5" data-oneliner="집을 가장 아름답게 편안하게 만들어주는 가구" data-latlng="37.558345,126.958272">
						<div class="dnone description">독창적인 스타일가구, 침구, 소품 아이템과 인테리어<br />스타일을 제안합니다.<br />까사미아는 이탈리아어로 '나의집'이라는 의미를 가지고 있습니다.<br />세상에서 가장 편안한집, 아름다움이 가득한집 즐거운 나의집, 바로 까사미아가<br />고객과 함께 만들어 가고 싶은 집입니다.<br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>까사미아</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 신촌로37길 35-4</span>
							</div>
						</div>
					</li>
					<li class="shop shop6" data-oneliner="당신의 생각을 담은가구" data-latlng="37.558448,126.959315">
						<div class="dnone description">가구에 당신의 생각을 더하면 일룸이 됩니다.<br />오래 써도 싫증나지 않는 가구는 없을까?<br />좁은 거실을 더 넓게 쓸 수 있는 소파는?<br />아이와함께 자라나는 가구는 어떨까?<br />일룸은 언제나 당신이 되어 생각해봅니다. 세련된 디자인에 당신의 건강까지 더하고<br />시간이 지나도 싫증나지 않는 디자인에 안전한 미감까지 더해야 한다는 생각.<br />일룸은 가구에 당신의 생각을 더해 더 오래 함께하는 가구가 되고 싶습니다.<br />가구에 ‘당신 생각’ 이 더해질 때 비로소 일룸은 태어납니다. <br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>일룸</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 신촌로37길 55-6</span>
							</div>
						</div>
					</li>
					<li class="shop shop7" data-oneliner="일상적인 그러나 아름다운 라이프스타일브랜드" data-latlng="37.558453,126.959119">
						<div class="dnone description">일상적인, 그러나 아름다운!<br />공간을 디자인하는 라이프스타일 브랜드 BO WELL<br />보웰은 디자인의 오리지널리티에 가치를 둡니다.<br />우리는 제품을 디자인하고 그 제품이 감동을 주기를 원합니다. 단지 많이 팔기위해 양심없는 제품을 만들지 않습니다. 보웰의 까다로운 감각이 차별화된 제품을 만들며 가치를 창조합니다.<br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>보웰</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 신촌로37길 55-7</span>
							</div>
						</div>
					</li>
					<li class="shop shop8" data-oneliner="공간을 채우는건 감동이다" data-latlng="37.558205,126.958312">
						<div class="dnone description">LIFE with GREEN. 식물과 꽃이 주는 위안과 감동을 전합니다.<br /></div>
						<div class="shoppic"></div><div class="desc">
							<h1>가든하다</h1>
							<div class="hour">
								<img src="/static/afc/assets/icon_clock_100x100.png" />
								<span>10:00 AM - 09:00 PM</span>
							</div>
							<div class="loc">
								<img src="/static/afc/assets/icon_loc_100x100.png" />
								<span>서울특별시 서대문구 북아현동 1004-3</span>
							</div>
						</div>
					</li>
				</ul>
			</article>
			<article class="shop_detail dnone">
				<header>
					<img src="/static/afc/assets/icon_arrow_left_mint_100x100.png" alt="" class="icon icon_arrow">
					<div class="text">소프시스</div>
				</header>
				<section class="map">
					<img class="map" />
				</section>
				<section class="desc">
					<div class="loc"></div>
					<div class="oneliner"></div>
					<div class="shopname"></div>
					<div class="time"></div>
					<div class="description"></div>
					<div class="btns"><a href="call:01045956806">전화걸기</a><button>After Service</button></div>
				</section>
				<div class="goodslist">
					<div class="peek">
						<img class="icon icon_goodslist" src="/static/afc/assets/icon_orderlist_100x100.png" alt="" class="icon" />
						<div class="text">매장의 상품 둘러보기</div>
						<img class="icon icon_arrow" src="/static/afc/assets/icon_arrow_up_white_100x100.png" alt="" class="icon_up">
					</div>
				</div>
			</article>
		</section>
	</body>
</html>