<!DOCTYPE HTML>
<html lang="kr"> 
	<head>
		<title>AFC</title>
		<meta chatset="UTF-8" />
		<meta name="viewport" content="user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel='icon' href='/static/afc/assets/favicon.png' type='image/x-icon' />
		<link rel="apple-touch-icon" sizes="152x152" href="/static/afc/assets/icon_152.png" />
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/js/fastclick.js"></script>
		<link rel="stylesheet" href="/static/afc/afc.css?v=4" />
		<script type="text/javascript" src="/static/afc/afc.js?v=3"></script>
	</head>
	<body>
		<section class="page dnone" id="login">
			<div class="bg"></div>
			<div class="upper">
				<article class="default dnone">
					<div class="top">
						<h2>AHYUN FURNITURE CAMPUS</h2>
						<h3>이제 당신의 쇼핑이 더 쉬워집니다</h3>
					</div>
					<img src="/static/afc/assets/start_txt.png" alt="" class="mid" />
					<div class="bot">
						<h3>AFC에서 쇼핑을 하며 더욱 쉽게<br />제품을 찾고 정보를 검색해보세요</h3>
						<button>시작하기</button>
					</div>
				</article>
				<article class="pop_login dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<div class="input_field">
							<input type="text" placeholder="E-mail" />
							<img src="/static/afc/assets/icon_mail_100x100.png" />
						</div>
						<div class="input_field">
							<input type="password" placeholder="Password" />
							<img src="/static/afc/assets/icon_key_100x100.png" />
						</div>
						<button class="login">LOGIN</button>
					</div>
					<div class="bot">
						<h3>아직도 회원이 아니라면<br />가입 후 더 놀라운 혜택을 누려보세요!</h3>
						<button class="signup">간단하게 회원가입</button>
					</div>
				</article>
				<article class="signup dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<button class="facebook"></button>
						<button class="kakao"></button>
						<button class="phone"></button>
					</div>
					<div class="bot">
						<h3>이미 가입하셨다면<br />로그인 해주세요!</h3>
						<button class="login">로그인</button>
					</div>
				</article>
				<article class="signup_phone dnone">
					<div class="x_btn">&times;</div>
					<div class="top">
						<div>
							<img src="/static/afc/assets/icon_small.png" alt="" class="icon" />
						</div>
						<div class="input_field">
							<input type="text" placeholder="Phone Number" />
							<img src="/static/afc/assets/icon_phone_100x100.png" />
						</div>
						<button class="signup">가입</button>
					</div>
				</article>
			</div>
		</section>
		<section class="page dnone", id="main">
			<article class="main dnone">
				
			</article>
		</section>
	</body>
</html>