h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

.dnone { display: none; }
.dblock { display: block; }
.dinblock { display: inline-block; }
.dinline { display: inline; }

@keyframes backflow {
	0% { background-position: 0 0; }
	50% { background-position: 100% 0; }
	100% { background-position: 0 0; }
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body { margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; }
html, body, body > section.page { width: 100%; height: 100%; }
* { outline: none; }


section#login { background: url(/static/afc/assets/ikea_back.png) 0 0 no-repeat transparent; background-size: cover; animation-name: backflow; animation-duration: 150s; position: relative; }
section#login div.bg { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); position: absolute; }
section#login div.upper, section#login div.upper > article { width: 100%; height: 100%; position: relative; color: white; text-align: center; }

section#login article.default div.top { line-height: 1.5em; padding-top: 14vh; }
section#login article.default div.top h2 { font-size: 4vw; font-weight: normal; }
section#login article.default div.top h3 { font-size: 4vw; color: #6bc5c9; margin-top: 2vh; font-weight: normal; }
section#login article.default img { width: 100%; position: absolute; top: 23.3vh; left: 0; }
section#login article.default div.bot { width: 100%; position: absolute; bottom: 8vh; left: 0; }
section#login article.default div.bot h3 { font-size: 4vw; line-height: 6vw; font-weight: normal; color: #ddd; }
section#login article.default button { width: 85vw; height: 13vw; line-height: 13vw; background-color: rgba(255, 255, 255, 1); border-radius: 1.5vw; font-size: 4vw; font-weight: bold; margin-top: 6vw; color: #6bc5c9; }
section#login article.default button:active { background-color: rgba(255, 255, 255, 1); }

section#login article.pop_login div.x_btn { position: absolute; font-size: 10vw; top: 5vw; right: 5vw; font-weight: 100; color: rgba(255, 255, 255, .5); width: 10vw; height: 10vw; text-align: center; line-height: 10vw; }
section#login article.pop_login div.top { width: 100%; position: absolute; top: 8vh; left: 0; }
section#login article.pop_login div.top img { width: 29.8vw; margin-bottom: 10vw; }
section#login article.pop_login div.top input { box-sizing: border-box; width: 70vw; height: 13vw; background-color: rgba(255, 255, 255, .2); padding-left: 15vw; font-size: 4vw; line-height: 10vw; border: 0px none; margin-bottom: 3vw; color: white; border-radius: 1vw; }
section#login article.pop_login div.top div.input_field { position: relative; }
section#login article.pop_login div.top div.input_field img { width: 8vw; height: 8vw; position: absolute; top: 2.5vw; left: 17.5vw; opacity: .5; }
section#login article.pop_login div.top button { box-sizing: border-box; width: 70vw; height: 13vw; background-color: #6bc5c9; font-size: 4vw; line-height: 10vw; border: 0px none; margin-bottom: 3vw; color: white; border-radius: 1vw; }
section#login article.pop_login div.bot { width: 100%; position: absolute; bottom: 8vh; left: 0; }
section#login article.pop_login div.bot h3 { font-size: 4vw; line-height: 6vw; font-weight: normal; color: #ddd; }
section#login article.pop_login div.bot button { width: 85vw; height: 13vw; line-height: 13vw; background-color: rgba(255, 255, 255, 1); color: #6bc5c9; border-radius: 1.5vw; font-size: 4vw; font-weight: bold; margin-top: 6vw; }
section#login article.pop_login div.bot button:active { background-color: rgba(255, 255, 255, 1); }

section#login article.signup div.x_btn { position: absolute; font-size: 10vw; top: 5vw; right: 5vw; font-weight: 100; color: rgba(255, 255, 255, .5); width: 10vw; height: 10vw; text-align: center; line-height: 10vw; }
section#login article.signup div.top { width: 100%; position: absolute; top: 8vh; left: 0; }
section#login article.signup div.top img { width: 29.8vw; margin-bottom: 10vw; }
section#login article.signup div.top button { box-sizing: border-box; width: 70vw; height: 11.33vw; border: 0px none; margin-bottom: 3vw; color: white; border-radius: 1vw; }
section#login article.signup div.top button.facebook { background: url(/static/afc/assets/login_facebook.png) 0 0 no-repeat transparent; background-size: 100%; }
section#login article.signup div.top button.kakao { background: url(/static/afc/assets/login_kakao.png) 0 0 no-repeat transparent; background-size: 100%; }
section#login article.signup div.top button.phone { background: url(/static/afc/assets/login_phone.png) 0 0 no-repeat transparent; background-size: 100%; }
section#login article.signup div.bot { width: 100%; position: absolute; bottom: 8vh; left: 0; }
section#login article.signup div.bot h3 { font-size: 4vw; line-height: 6vw; font-weight: normal; color: #ddd; }
section#login article.signup div.bot button { width: 85vw; height: 13vw; line-height: 13vw; background-color: rgba(255, 255, 255, 1); color: #6bc5c9; border-radius: 1.5vw; font-size: 4vw; font-weight: bold; margin-top: 6vw; }
section#login article.signup div.bot button:active { background-color: rgba(255, 255, 255, 1); }

section#login article.signup_phone div.x_btn { position: absolute; font-size: 10vw; top: 5vw; right: 5vw; font-weight: 100; color: rgba(255, 255, 255, .5); width: 10vw; height: 10vw; text-align: center; line-height: 10vw; }
section#login article.signup_phone div.top { width: 100%; position: absolute; top: 8vh; left: 0; }
section#login article.signup_phone div.top img { width: 29.8vw; margin-bottom: 10vw; }
section#login article.signup_phone div.top input { box-sizing: border-box; width: 70vw; height: 13vw; background-color: rgba(255, 255, 255, .2); padding-left: 15vw; font-size: 4vw; line-height: 10vw; border: 0px none; margin-bottom: 3vw; color: white; border-radius: 1vw; }
section#login article.signup_phone div.top div.input_field { position: relative; }
section#login article.signup_phone div.top div.input_field img { width: 8vw; height: 8vw; position: absolute; top: 2.5vw; left: 17.5vw; opacity: .5; }
section#login article.signup_phone div.top button { box-sizing: border-box; width: 70vw; height: 13vw; background-color: #6bc5c9; font-size: 4vw; line-height: 10vw; border: 0px none; margin-bottom: 3vw; color: white; border-radius: 1vw; }
